.header {

    height: 344px;
    width: 217px;


}
.sale{
    
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 4px;
    line-height: 48px;
    color: #000000;
    font-family: "Inter";
    font-style: semibold;
}
.headerimg {
    width: 892px;
    height: 344px;
}